{% extends "base.html" %}

{% block title %}Login{% end %}

{% block stylesheet %}
<style>
.cardContainer {
    border-radius: 8px;
    max-width: 800px;
    margin: 30px auto;
    padding: 40px;
}

.submit_button {
    margin-top: 32px;
}
</style>
{% end %}

{% block content %}
<div class="cardContainer mdc-elevation--z5">
    <h2>管理员登录</h2>

    <form id="login_form">
        <div class="adapt-form__text-label">旧密码</div>
        <div class="mdc-text-field mdc-text-field--outlined">
            <input type="password" name="old_password" required class="mdc-text-field__input" autocomplete="current-password">
            <div class="mdc-notched-outline">
                <div class="mdc-notched-outline__leading"></div>
                <div class="mdc-notched-outline__notch">
                    <label class="mdc-floating-label">Old Password</label>
                </div>
                <div class="mdc-notched-outline__trailing"></div>
            </div>
        </div>
        <div class="mdc-text-field-helper-line">
            <div id="old-password-helper-text" class="mdc-text-field-helper-text" aria-hidden="true"></div>
        </div>

        <div class="adapt-form__text-label">新密码</div>
        <div class="mdc-text-field mdc-text-field--outlined">
            <input type="password" name="new_password" required class="mdc-text-field__input" autocomplete="new-password">
            <div class="mdc-notched-outline">
                <div class="mdc-notched-outline__leading"></div>
                <div class="mdc-notched-outline__notch">
                    <label class="mdc-floating-label">New Password</label>
                </div>
                <div class="mdc-notched-outline__trailing"></div>
            </div>
        </div>
        <div class="mdc-text-field-helper-line">
            <div id="new-password-helper-text" class="mdc-text-field-helper-text" aria-hidden="true"></div>
        </div>

        <div class="adapt-form__text-label">两步验证码</div>
        <div class="mdc-text-field mdc-text-field--outlined">
            <input type="text" name="otp" required pattern="^\d{6}$" class="mdc-text-field__input" autocomplete="one-time-code">
            <div class="mdc-notched-outline">
                <div class="mdc-notched-outline__leading"></div>
                <div class="mdc-notched-outline__notch">
                    <label class="mdc-floating-label">Two factor code</label>
                </div>
                <div class="mdc-notched-outline__trailing"></div>
            </div>
        </div>
        <div class="mdc-text-field-helper-line">
            <div id="otp-helper-text" class="mdc-text-field-helper-text" aria-hidden="true"></div>
        </div>

        <div>
            <button type="submit" class="mdc-button mdc-button--raised mdc-button__label mdc-ripple-upgraded submit_button">登录</button>
        </div>
    </form>
</div>
{% end %}

{% block script %}
<script>
var helper_texts;
(function() {
    helper_texts = {
        username: new mdc.textField.MDCTextFieldHelperText(document.querySelector("#username-helper-text")),
        password: new mdc.textField.MDCTextFieldHelperText(document.querySelector("#password-helper-text")),
        otp: new mdc.textField.MDCTextFieldHelperText(document.querySelector("#otp-helper-text"))
    };

    $("#login_form").submit(function(event) {
        event.preventDefault();
        // $("button[type='submit']").attr("disabled", "disabled");
        var formdata = $(this).serializeArray();

        var getField = function(name) {
            for (var i=0; i<formdata.length; i++) {
                if (formdata[i].name === name)
                    return formdata[i].value;
            }
            return "";
        };

        $.ajax({
            url: "/change_pw",
            type: "POST",
            data: {
                old_password: getField("old_password"),
                new_password: getField("new_password"),
                otp: getField("otp"),
                _xsrf: getCookie("_xsrf")
            },
            headers: {
                Accept: "application/json; charset=utf-8"
            },
            success: function (data) {
                // $("button[type='submit']").removeAttr("disabled");
                console.log(data);
                if (data.message === "Success") {
                    alert('Success');
                } else {
                    // data = JSON.parse(data);
                    var field = data.error.split(":")[1];
                    helper_texts[field].foundation.setValidation(true);
                    helper_texts[field].foundation.setContent(data.message);
                    $("#" + field + "-helper-text").attr("role", "alert")
                }
            },
            error: function () {
                // $("button[type='submit']").removeAttr("disabled");
            }
        });
    });
})();
</script>
{% end %}
